/* html and body */
html{
    height: 100%;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* html and body */


/* scroll effect */
.slide{
    position: relative;
    padding: 25% 8%;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0,0,0, .7);
    transform-style: inherit;
}

.slide:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px 1px rgba(0,0,0, .7);
}

.slide, .slide:before{
    background: 50% 50% / cover;
}

/* header bar */
header
{
    width: 100%;
    height: 70px;
    background-color: #282828;
}

h1
{
    position: absolute;
    padding: 5px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    color: whitesmoke;
}
span
{
    color: red;
}

ul
{
    width: auto;
    float: right;
    margin-top: 15px 30px;
}

li
{
    display: inline-block;
    padding: 15px 30px;
}

a
{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
}

a:hover
{
    color: red;
    transition: 0.5s;
}
/* header bar */

/* first slide */
#slideone
{
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/pexels-pixabay-268533.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.content
{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: justify;
    color: #fff;
}
.content h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-top: 80px;
}
.content p1
{
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: snow;
}
/* first slide */

/* clock */
#clock
{
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/clock4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.clockcontent{
    top: 10%;
    text-align: center;
    color: blanchedalmond;
    width: 100%;
}

.clockcontent h32{
    color: #fff;
    background: #10101E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    padding: 10px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    display: flex;
}
/* clock */


/* countdown */
#newyear
{
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/countdown1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.celebrate{
    text-align: center;
    color: whitesmoke;
    padding: 25% 10%;
    width: 100%;
    box-sizing: border-box;
    transform-style: inherit;  
}
/* countdown */

/* movie slide */
#cinema{
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/movies4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-attachment: fixed;   
}

.theatre
{
    color: blanchedalmond;
    text-align: justify;
    position: relative;
    padding: 25% 10%;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0,0,0, .7);
    transform-style: inherit;
}
/* movie slide */

/* timespend */
#last{
    background: black;
    text-align: center;
    color: blanchedalmond;
}
/* timespend */
