/* html and body */
html
{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body
{
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* html and body */

/* scroll effect */
.slide
{
  margin-top: 2px;
  position: relative;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0,0,0, 0.7);
  transform-style: inherit;
}

.slide:before{
  content: "";
  /* position: relative; */
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0,0,0, 0.7);
}

.slide, .slide:before
{
  background: 50% 50% / cover; /* unsure bout this */
}

/* header bar */
header
{
  width: 100%;
  height: 60px;
  background-color: #0b042e;
}

h1
{
  position: absolute;
  /* padding: 10px 10px 10px; */
  float: left;
  margin-left: 40px;
  margin-top: 10px;
  color: whitesmoke;
}
span
{
  color: red;
}
ul
{
  text-decoration: none;
  /* width: auto; */
  float: right;
  display: flex;
  /* margin-top: 65px 30px; */
}
.button1,.button2,.button3{
  font-weight: bolder;
  width: 100px;
  height: auto;
  border: none;
  letter-spacing: 2px;
  text-align: center;
  color: black;
  background-color: yellow;
  border-radius: 4px;
  /* box-shadow: inset 0 0 0 0 blue; */
  transition: ease-out 0.6s;
  outline: none;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  padding: 3.5px;
  margin: 0px 20px;
  /* display: inline-block; */
}

.button1:hover
{
  box-shadow: inset 100px 0 0 0 red;
  cursor: pointer;
  color: whitesmoke;
}
.button2:hover
{
  box-shadow: inset 100px 0 0 0 red;
  cursor: pointer;
  color: whitesmoke;
}
.button3:hover
{
  box-shadow: inset 100px 0 0 0 red;
  cursor: pointer;
  color: whitesmoke;
}
/* header bar */

/* intro slide */
#slideone
{
  background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/pexels-pixabay-268533.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* display: table; */
  background-attachment: fixed;
}
.content
{
  margin-left: 40px;
  width: 100%;
  position: absolute;
  /* top: 10px; */
  /* transform: translateY(-50%); */
  text-align: justify;
}
.content h2
{
  margin-top: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  margin-top: 25%;
  color: #fff;
}
.content p1
{
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  color: snow;
}
/* intro slide */

/* clock */
#clock
{
  background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/clock4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* display: table; */
  background-attachment: fixed;
}

.clockcontent{
  padding-top: 60px;
  text-align: center;
}

.clockcontent h31
{
  border-style: dotted;
  border-radius: 20px;
  padding: 8px;
  /* border-radius: 1px solid white; */
  color: wheat;
  letter-spacing: 10px;
  font-size: 65px;
  font-weight: bold;
}

.clockcontent h32{
  margin-top: 100px;
  margin-bottom: 150px;
  display: inline-flex;
  padding: 30px;
  font-size: 70px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: whitesmoke;
  background: #10101E;
  border: 3px solid #2E94E3;
  border-radius: 8px;
  width: 350px;
}

.clockcontent h33{
  color: whitesmoke;
}
/* clock */

/* movie slide */
#cinema{
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/movies4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-attachment: fixed;   
}

.theatre
{
  text-align: center;
  margin-top: 300px;
  color: whitesmoke;
  /* position: relative; */
    /* min-height: 100%; */
}

input{
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
input[type="text1"]{
  background: #fff;
  width: 250px;
  height: 25px;
  border: none;
  outline: none;
  padding: 0.35px;
  border-radius: 25px 0 0 25px;
}
input[type="submit1"]{
  position: relative;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 150px;
  height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ffc107;
  color: #0b042e;
}
input[type="submit1"]:hover{
  background: #ff5722;
  color: white;
}

/* movie slide */

/* countdown */
#newyear
{
  background: linear-gradient(rgba(0,0,0,0.3) ,rgba(0,0,0,0.3)),url(img/countdown7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.celebrate
{
  text-align: center;
  padding-top: 40px;
  position: relative;
}

.celebrate2
{
  display: inline-flex
}
.celebrate h41
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
}
.celebrate h42
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
  font-weight: bold;
  font-style: oblique;
  display: inline-flex;
  margin-top: 10px;
  color: wheat;
}
.celebrate h43
{
  padding: 20px;
  position: relative;
  font-size: 45px;
  margin-top: 90px;
  text-align: center;
  display: inline-flex;
  color: wheat;
  background-color: rgb(38, 2, 41);
  border: 5px solid rgb(25, 2, 73);
  border-radius: 8px;
  width: auto;
}
.celebrate h44{
  display: inline-flex;
  padding: 3px;
  border: 1px solid white;
  background-color: black;
  border-radius: 15px;
  margin-top: 150px;
  color: rgb(255, 255, 255);
}
/* countdown */

/* timespend */
#last
{
    background: black;
    text-align: center;
    color: blanchedalmond;
}
/* timespend */


/* football */
#football{
  background: linear-gradient(rgba(0,0,0,0.3) ,rgba(0,0,0,0.3)),url(img/quiz3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

.soccer{
  text-align: center;
}

h61{
  letter-spacing: 10px;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin-top: 30px;
  /* transform: translate(-50%, -50%); */
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  color: white;
  text-transform: uppercase;
}

p61{
  letter-spacing: 2px;
  font-weight: bold;
  display: inline-flex;
  color: whitesmoke;
  text-align: center;
  margin-top: 40px;
}

#soccer{
  margin-left: 410px;
  margin-top: 80px;
}

.quiz{
  /* display: flex;
  margin-top: 90px; */
  text-align: center;
  background-color: #16803b;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 20px 20px 50px 5px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section{
  color: wheat;
  display: flex;
  font-size: 25px;
  align-items: center;
}

.question-section{
  width: 100%;
  position: relative;
}

.question-count span
{
  text-decoration: underline;
  color: whitesmoke;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
}

.question-text
{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  color: black;
  margin-bottom: 12px;
}

.answer-section{
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button{
  width: auto;
  font-size: 14px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 10px;
  /* display: flex; */
  padding: 3px;
  /* justify-content: flex-start; */
  align-items: center;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.correct{
  background-color: #2f922f;
}

.incorrect{
  background-color: red;
}
button{
  transition: ease-out 0.7s;
}

button:hover
{
  background-color:#555e7d;
  box-shadow: inset 200px 0 0 0 black;
  cursor: pointer;
  color: white;
}

button:focus{
  outline: none;
}

/* button svg{
  margin-right: 5px;
} */

/* quote */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&display=swap');

#quote{
  background: linear-gradient(rgba(0,0,0,0.2) ,rgba(0,0,0,0.3)),url(img/quote2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* display: table; */
  background-attachment: fixed;   
}
.randomq
{
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 220px;
  text-align: center;
}
.quote2{
  text-align: center;
}
h70{
  font-size: 50px;
  color: wheat;
}
h71{
  margin-top: 30px;
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-style: oblique;
}
p72{
  font-size: 30px;
  float: right;
  color: #ffc107;
  margin-top: 20px;
  font-family: 'Lobster', cursive;
}
.quote3{
  text-align: center;
  font-size: 12px;
  float: inline-end;
  color: whitesmoke;
  margin-top: 10px;
  font-family: 'Lobster', cursive;
}


.btn{
  width: 100%;
  margin-top: 5px;
  font-weight: bolder;
  height: 25px;
  border: none;
  letter-spacing: 2px;
  color: white;
  background-color: transparent;
  border-radius: 4px;
  transition: ease-in 0.6s;
  outline: none;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
}

.btn:hover
{
  box-shadow: inset 1600px 0 0 0 red;
  cursor: pointer;
  color: black;
}