/* html and body */
html{
    height: 100%;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* html and body */


/* scroll effect */
.slide{
    position: relative;
    padding: 25% 8%;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0,0,0, .7);
    transform-style: inherit;
}

.slide:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px 1px rgba(0,0,0, .7);
}

.slide, .slide:before{
    background: 50% 50% / cover;
}

/* header bar */
header
{
    width: 100%;
    height: 70px;
    background-color: #282828;
}

h1
{
    position: absolute;
    padding: 5px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    color: whitesmoke;
}
span
{
    color: red;
}

ul
{
    width: auto;
    float: right;
    margin-top: 15px 30px;
}

li
{
    display: inline-block;
    padding: 15px 30px;
}

a
{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
}

a:hover
{
    color: red;
    transition: 0.5s;
}
/* header bar */

/* first slide */
#slideone
{
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/pexels-pixabay-268533.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.content
{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: justify;
    color: #fff;
}
.content h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-top: 80px;
}
.content p1
{
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: snow;
}
/* first slide */

/* clock */
#clock
{
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/clock4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-attachment: fixed;
}
.clockcontent{
    text-align: center;
    color: blanchedalmond;
    width: 100%;
}

.clockcontent h31{
    letter-spacing: 10px;
    font-size: 4rem;
    font-weight: bold;
}

.clockcontent h32{
    color: #fff;
    background: #10101E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    padding: 10px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    display: flex;
}
/* clock */


/* countdown */
#newyear
{
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/countdown2.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

/* .celebrate{
    text-align: center;
    color: whitesmoke;
    padding: 25% 10%;
    width: 100%;
    box-sizing: border-box;
    transform-style: inherit;  
} */ */
/* countdown */

/* movie slide */
#cinema{
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/movies4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-attachment: fixed;   
}

.theatre
{
    color: blanchedalmond;
    text-align: justify;
    position: relative;
    padding: 25% 10%;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0,0,0, .7);
    transform-style: inherit;
}
/* movie slide */

/* stopwatch */
/* #cinema{
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/movies4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-attachment: fixed;   
} */
/* stopwatch */


/* timespend */
#last{
    background: black;
    text-align: center;
    color: blanchedalmond;
}
/* timespend */


/* football quiz
#football{

#football{
  /* background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)),url(img/movies4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: table;
  background-attachment: fixed;    */

/* #football{
  background-image: url(img/quiz1.jpg);
  background-color: red;
} */
.app{
  text-align: center;
  background-color: #258d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 20px 20px 50px 5px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section{
  color: wheat;
  display: flex;
  font-size: 25px;
  align-items: center;
}

.question-section{
  width: 100%;
  position: relative;
}

.question-count span
{
  color: whitesmoke;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
}

.question-text
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  color: black;
  margin-bottom: 12px;
}

.answer-section{
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button{
  width: 90%;
  font-size: 14px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 10px;
  /* display: flex; */
  padding: 3px;
  /* justify-content: flex-start; */
  align-items: center;
  border: 3px solid #234668;
  cursor: pointer;
}

.correct{
  background-color: #2f922f;
}

.incorrect{
  background-color: red;
}

button:hover{
  background-color:#555e7d;
  color: wheat;
}

button:focus{
  outline: none;
}

button svg{
  margin-right: 5px;
}

/* /* 
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  } */  
/*   
 */
